In [1]:
! pip install geopy

import geopandas as gpd

In [4]:
df = gpd.tools.geocode(  
        ["boston, ma", "1600 pennsylvania ave. washington, dc"]
    )
df

,geometry,address
0,POINT (-71.05829 42.36025),"Boston, 02102, Boston, Massachusetts, United S..."
1,POINT (-77.03655 38.89770),"White House, 1600, Pennsylvania Avenue Northwe..."

In [5]:
from shapely.geometry import Point

In [10]:
gpd.tools.reverse_geocode(  
    [Point(-71.05829, 42.36025), Point(-77.03655, 38.89770)])

,geometry,address
0,POINT (-71.05829 42.36025),"Boston, 02102, Boston, Massachusetts, United S..."
1,POINT (-77.03655 38.89770),"White House, 1600, Pennsylvania Avenue Northwe..."

In [6]:
df = gpd.tools.reverse_geocode(  
    [Point(-71.0594869, 42.3584697), Point(-77.0365305, 38.8977332)]
)
df

,geometry,address
0,POINT (-71.05977 42.35860),"18-32, Tremont Street, 02108, Tremont Street, ..."
1,POINT (-77.03655 38.89772),"Pennsylvania Avenue Northwest, 20500, Pennsylv..."