In [1]:
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
df_val = pd.read_csv('.\\data\\custom_prep\\val.csv')

In [3]:
df_val

,id_1,geo_k_dist,geo_k_neigh,id_2,match,name_lev,name_jaro,name_seq_match,name_lcs,address_lev,...,zip_seq_match,zip_lcs,country_lev,country_jaro,country_seq_match,country_lcs,categories_lev,categories_jaro,categories_seq_match,categories_lcs
0,E_3a797712ed240d,0.000000,0,E_3a797712ed240d,True,0,1.000000,1.000000,40,0,...,1.0,5,0,1.0,1.0,2,0,1.000000,1.000000,18
1,E_6467f7e0ae52de,0.015526,4,E_3a797712ed240d,False,33,0.400000,0.214286,8,18,...,1.0,5,0,1.0,1.0,2,16,0.435185,0.272727,3
2,E_8a83270d4fe433,0.012368,3,E_3a797712ed240d,False,37,0.348148,0.081633,3,13,...,1.0,5,0,1.0,1.0,2,12,0.523148,0.470588,8
3,E_f2351063814e92,0.013139,3,E_3a797712ed240d,False,33,0.541532,0.203390,9,13,...,1.0,5,0,1.0,1.0,2,32,0.523403,0.266667,11
4,E_7c18753a42b8a1,0.004868,3,E_3a797712ed240d,False,34,0.465476,0.185185,7,9,...,1.0,5,0,1.0,1.0,2,15,0.575926,0.303030,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138810,E_712e195c78e495,0.000000,0,E_712e195c78e495,True,0,1.000000,1.000000,31,0,...,1.0,5,0,1.0,1.0,2,0,1.000000,1.000000,32
1138811,E_e9d511e22d0a56,0.000000,0,E_e9d511e22d0a56,True,0,1.000000,1.000000,13,0,...,1.0,5,0,1.0,1.0,2,0,1.000000,1.000000,7
1138812,E_c92abb839cabf8,0.000000,0,E_c92abb839cabf8,True,0,1.000000,1.000000,9,0,...,1.0,3,0,1.0,1.0,2,0,1.000000,1.000000,5
1138813,E_951879b8552620,0.000000,0,E_951879b8552620,True,0,1.000000,1.000000,8,0,...,1.0,7,0,1.0,1.0,2,0,1.000000,1.000000,18
1138814,E_8f8d3739cebe6a,0.000000,0,E_8f8d3739cebe6a,True,0,1.000000,1.000000,15,0,...,1.0,3,0,1.0,1.0,2,0,1.000000,1.000000,7

In [20]:
tst = df_val.groupby('id_1')['id_2'].apply(list).reset_index(name='natches')

In [23]:
df_val[df_val['id_1'] == 'E_2e667f768e696f']

,id_1,geo_k_dist,geo_k_neigh,id_2,match,name_lev,name_jaro,name_seq_match,name_lcs,address_lev,...,zip_seq_match,zip_lcs,country_lev,country_jaro,country_seq_match,country_lcs,categories_lev,categories_jaro,categories_seq_match,categories_lcs
453989,E_2e667f768e696f,0.001441,4,E_b15cadf6d47833,False,12,0.000000,0.000000,0,21,...,0.8,4,0,1.0,1.0,2,16,0.586842,0.250000,3
627317,E_2e667f768e696f,0.000000,0,E_2e667f768e696f,True,0,1.000000,1.000000,3,0,...,1.0,5,0,1.0,1.0,2,0,1.000000,1.000000,5
627326,E_2e667f768e696f,0.000557,1,E_9e86090e024d4f,False,19,0.420635,0.166667,2,15,...,0.8,4,0,1.0,1.0,2,14,0.484722,0.190476,2
627332,E_2e667f768e696f,0.000614,2,E_000008a8ba4f48,False,6,0.486111,0.363636,2,20,...,0.0,0,0,1.0,1.0,2,15,0.503704,0.260870,3
627338,E_2e667f768e696f,0.001301,3,E_4b417860ecfc9e,False,12,0.472222,0.133333,1,36,...,0.0,0,0,1.0,1.0,2,9,0.513131,0.375000,3

In [30]:
df_subm = df_val[df_val['match']][['id_1', 'id_2']]

In [31]:
df_subm

                     id_1              id_2
0        E_3a797712ed240d  E_3a797712ed240d
14       E_7c18753a42b8a1  E_7c18753a42b8a1
15       E_2be93767fcad71  E_7c18753a42b8a1
21       E_7c18753a42b8a1  E_2be93767fcad71
22       E_2be93767fcad71  E_2be93767fcad71
...                   ...               ...
1138810  E_712e195c78e495  E_712e195c78e495
1138811  E_e9d511e22d0a56  E_e9d511e22d0a56
1138812  E_c92abb839cabf8  E_c92abb839cabf8
1138813  E_951879b8552620  E_951879b8552620
1138814  E_8f8d3739cebe6a  E_8f8d3739cebe6a

[258339 rows x 2 columns]

In [34]:
subm = df_subm.groupby('id_1')['id_2'].apply(list).reset_index(name='matches')

In [35]:
subm

                    id_1                               matches
0       E_000008a8ba4f48                    [E_000008a8ba4f48]
1       E_00002a131a2bf6                    [E_00002a131a2bf6]
2       E_0001031ce8d446                    [E_0001031ce8d446]
3       E_0001a15bc918e7                    [E_0001a15bc918e7]
4       E_0001a397f67ad5                    [E_0001a397f67ad5]
...                  ...                                   ...
227463  E_fffebfdf9be4cc  [E_c5e2c92a64ad20, E_fffebfdf9be4cc]
227464  E_ffff2b8abf31ab                    [E_ffff2b8abf31ab]
227465  E_ffff43afdebe13                    [E_ffff43afdebe13]
227466  E_ffff83a9496324                    [E_ffff83a9496324]
227467  E_ffffe6f4652fbb                    [E_ffffe6f4652fbb]

[227468 rows x 2 columns]

In [41]:
def convert(lst):
      
    return ' '.join(lst)

In [44]:
subm['match_id'] = subm['matches'].apply(lambda x: convert(x))

In [47]:
subm.drop('matches', inplace=True, axis=1)

In [48]:
subm

                    id_1                           match_id
0       E_000008a8ba4f48                   E_000008a8ba4f48
1       E_00002a131a2bf6                   E_00002a131a2bf6
2       E_0001031ce8d446                   E_0001031ce8d446
3       E_0001a15bc918e7                   E_0001a15bc918e7
4       E_0001a397f67ad5                   E_0001a397f67ad5
...                  ...                                ...
227463  E_fffebfdf9be4cc  E_c5e2c92a64ad20 E_fffebfdf9be4cc
227464  E_ffff2b8abf31ab                   E_ffff2b8abf31ab
227465  E_ffff43afdebe13                   E_ffff43afdebe13
227466  E_ffff83a9496324                   E_ffff83a9496324
227467  E_ffffe6f4652fbb                   E_ffffe6f4652fbb

[227468 rows x 2 columns]

In [49]:
subm.to_csv('.\\tt.csv', index=False, doublequote=False)

In [29]:
pd.set_option('display.max_colwidth', 10000)
tst[tst['id_1']=='E_2e667f768e696f']

                   id_1                                                                                     natches
41757  E_2e667f768e696f  [E_b15cadf6d47833, E_2e667f768e696f, E_9e86090e024d4f, E_000008a8ba4f48, E_4b417860ecfc9e]

In [4]:
QUERY_INDICES = df_val.index
QUERY_PREDS = df_val.match

In [5]:
# Rows of the DataFrame are saved as dictionaries
submission_dict = []



for row_idx, row in tqdm(df_val.iterrows(), total=len(df_val)):
    ind = QUERY_INDICES[row_idx]
    #dist = QUERY_DISTANCES[row_idx]
    pred = QUERY_PREDS[row_idx]
    # Point is included if (mind the brackets):
    # (the confidence is above the threshold or the point refers to itself) and the distance is below the threshold
    pred_id_idxs = ind[(pred)]
    pred_ids = ' '.join(df_val.loc[pred_id_idxs, 'id'].tolist())
    
    submission_dict.append({
        'id': row['id'],
        'matches': pred_ids,
    })

  0%|          | 0/1138815 [00:00<?, ?it/s]

TypeError: 'int' object is not subscriptable