In [1]:
! pip install geopy

import geopandas as gpd

In [4]:
df = gpd.tools.geocode(  
        ["boston, ma", "1600 pennsylvania ave. washington, dc"]
    )
df

,geometry,address
0,POINT (-71.05829 42.36025),"Boston, 02102, Boston, Massachusetts, United S..."
1,POINT (-77.03655 38.89770),"White House, 1600, Pennsylvania Avenue Northwe..."

In [5]:
from shapely.geometry import Point

In [10]:
gpd.tools.reverse_geocode(  
    [Point(-71.05829, 42.36025), Point(-77.03655, 38.89770)])

,geometry,address
0,POINT (-71.05829 42.36025),"Boston, 02102, Boston, Massachusetts, United S..."
1,POINT (-77.03655 38.89770),"White House, 1600, Pennsylvania Avenue Northwe..."

In [15]:
df = gpd.tools.reverse_geocode(  
    [Point(3.6341963487748346, 50.85997533509319)]
)
df

                   geometry                                            address
0  POINT (3.63421 50.85996)  Abdijstraat, 9700, Oudenaarde, Oost-Vlaanderen...

In [13]:
gpd.tools.geocode(  
        ["Cossebauder Str. 6,Dresden-Cotta,Sachsen,01157,DE"]
    )

,geometry,address
0,POINT (13.68094 51.06071),"Lidl, 6, Cossebauder Straße, 01157, Cossebaude..."