In [47]:
# Flag to force to reload dataset
RELOAD = False

In [48]:
import os

# import Kaggle API to load dataset
import kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

# initialize Kaggle API
api = KaggleApi()
api.authenticate()

# download dataset from Kaggle to data folder
data_path = 'data'
api.competition_download_files('foursquare-location-matching', data_path, force=RELOAD, quiet=False)
# save filename: !ATTENTION! : it may not be wroking if many files are in folders
# then just name it manually 
dataset_file_name = os.listdir(data_path)[0]

foursquare-location-matching.zip: Skipping, found more recently modified local copy (use --force to force download)

In [49]:
# import libraries to work with paths and to read zipped file, as was downloaded from Kaggle
from zipfile import ZipFile
# import pandas for EDA
import pandas as pd

# Read train dataset (train.csv) to pandas DataFrame named df: it will be used for analysis
df = pd.read_csv(ZipFile(os.path.join(data_path, dataset_file_name)).open('train.csv'))

In [50]:
# Check, that all dataframes are loaded and have correct shapes
print(f'Shape of df: {str(df.shape)}')

Shape of df: (1138812, 13)

In [51]:
# Sample 10 000 records, it should give 100 000 000 records
# Sample 1 000 records, it should give 1 000 000 records
df_sample = df.sample(1000, random_state=42)

In [52]:
df_pairs_custom = pd.DataFrame(columns=['id_1', 'name_1', 'latitude_1', 'longitude_1', 'address_1', 'city_1', 'state_1', 'zip_1', 'country_1', 'url_1', 'phone_1', 'categories_1',
                                'id_2', 'name_2', 'latitude_2', 'longitude_2', 'address_2', 'city_2', 'state_2', 'zip_2', 'country_2', 'url_2', 'phone_2', 'categories_2', 'match'])

In [ ]:
for index1, rec1 in df_sample.iterrows():
    for index2, rec2 in df_sample.iterrows():
        if ((rec1['id'] != rec2['id'])):
            new_record = pd.DataFrame({'id_1' : rec1['id'], 'name_1' : rec1['name'], 'latitude_1' : rec1['latitude'], 'longitude_1' : rec1['longitude'], 'address_1' : rec1['address'], 'city_1' : rec1['city'], 
            'state_1' : rec1['state'], 'zip_1' : rec1['zip'], 'country_1' : rec1['country'], 'url_1' : rec1['url'], 'phone_1' : rec1['phone'], 'categories_1' : rec1['categories'],
            'id_2' : rec2['id'], 'name_2' : rec2['name'], 'latitude_2' : rec2['latitude'], 'longitude_2' : rec2['longitude'], 'address_2' : rec2['address'], 'city_2' : rec2['city'], 
            'state_2' : rec2['state'], 'zip_2' : rec2['zip'], 'country_2' : rec2['country'], 'url_2' : rec2['url'], 'phone_2' : rec2['phone'], 'categories_2' : rec2['categories'],
            'match' : (rec1['point_of_interest'] == rec2['point_of_interest'])}, index=[0])

            df_pairs_custom = pd.concat([df_pairs_custom, new_record], ignore_index=True)
            # df_pairs_custom.append({'id_1' : rec1['id'], 'name_1' : rec1['name'], 'latitude_1' : rec1['latitude'], 'longitude_1' : rec1['longitude'], 'address_1' : rec1['address'], 'city_1' : rec1['city'], 
            # 'state_1' : rec1['state'], 'zip_1' : rec1['zip'], 'country_1' : rec1['country'], 'url_1' : rec1['url'], 'phone_1' : rec1['phone'], 'categories_1' : rec1['categories'],
            # 'id_2' : rec2['id'], 'name_2' : rec2['name'], 'latitude_2' : rec2['latitude'], 'longitude_2' : rec2['longitude'], 'address_2' : rec2['address'], 'city_2' : rec2['city'], 
            # 'state_2' : rec2['state'], 'zip_2' : rec2['zip'], 'country_2' : rec2['country'], 'url_2' : rec2['url'], 'phone_2' : rec2['phone'], 'categories_2' : rec2['categories']}, ignore_index=True)

In [60]:
# save to csv after ~60 minutes only 144092 records are done (out of 1000000)
df_pairs_custom.to_csv('.\\data\\pairs_custom.csv')

In [54]:
new_record.head()

,id_1,name_1,latitude_1,longitude_1,address_1,city_1,state_1,zip_1,country_1,url_1,phone_1,categories_1,id_2,name_2,latitude_2,longitude_2,address_2,city_2,state_2,zip_2,country_2,url_2,phone_2,categories_2,match
0,E_9c455c75918751,Manjabal 2,-6.71209,108.561016,Jalan Karanggetas,Cirebon,Jawa Barat,NaN,ID,NaN,NaN,Indonesian Restaurants,E_6dac12a3e3962d,speedway,35.137369,-84.906974,NaN,Cleveland,TN,NaN,US,NaN,NaN,Gas Stations,False

In [58]:
pd.set_option('display.max_columns', None)
df_pairs_custom.head()

,id_1,name_1,latitude_1,longitude_1,address_1,city_1,state_1,zip_1,country_1,url_1,phone_1,categories_1,id_2,name_2,latitude_2,longitude_2,address_2,city_2,state_2,zip_2,country_2,url_2,phone_2,categories_2,match
0,E_9c455c75918751,Manjabal 2,-6.71209,108.561016,Jalan Karanggetas,Cirebon,Jawa Barat,NaN,ID,NaN,NaN,Indonesian Restaurants,E_f96f973047a099,Rüstem Paşa (Ulu) Camii,40.359018,30.012008,Camikebir Mh. Sakarya Cd.,Osmaneli,Bilecik,NaN,TR,NaN,NaN,"Mosques, Historic Sites",False
1,E_9c455c75918751,Manjabal 2,-6.71209,108.561016,Jalan Karanggetas,Cirebon,Jawa Barat,NaN,ID,NaN,NaN,Indonesian Restaurants,E_b16dafc319e90a,Starbucks,27.870459,-82.76156,10809 Starkey Rd,Largo,FL,33777,US,http://www.starbucks.com/store/1018298,(727) 392-3435,Coffee Shops,False
2,E_9c455c75918751,Manjabal 2,-6.71209,108.561016,Jalan Karanggetas,Cirebon,Jawa Barat,NaN,ID,NaN,NaN,Indonesian Restaurants,E_0be920c4d49631,Refter Sint Tarcisiusinstituut,50.832716,5.102211,NaN,NaN,NaN,NaN,BE,NaN,NaN,"High Schools, Cafeterias",False
3,E_9c455c75918751,Manjabal 2,-6.71209,108.561016,Jalan Karanggetas,Cirebon,Jawa Barat,NaN,ID,NaN,NaN,Indonesian Restaurants,E_10d09c32c73bb3,Wetherspoon Express,51.890014,0.262341,"Satellite 2, near Gate 31",Stansted,Essex,CM24 1QW,GB,http://www.jdwetherspoon.co.uk,1279669040,Pubs,False
4,E_9c455c75918751,Manjabal 2,-6.71209,108.561016,Jalan Karanggetas,Cirebon,Jawa Barat,NaN,ID,NaN,NaN,Indonesian Restaurants,E_d942bae88b09c1,延边大学,42.905157,129.485527,977 Park Rd,"Yanji,Jilin",NaN,133002,CN,http://www.ybu.edu.cn,+864332732352,Universities,False

In [59]:
df_pairs_custom.shape

(144092, 25)